@import "vars"

.sidebar-item
  padding: 12px 16px
  margin: 0 0 16px
  background: #F7F8FA
  border-radius: 8px
  .social-share
    margin: 8px 0 0
    position: relative
    top: 0
    left: 0
    right: 0
    transform: none
    flex-direction: row
    align-items: center
    li
      margin: 0 8px 0 0

.list-reviews-social
  font-family: $font
  margin: 8px 0 60px
  line-height: 24px
  font-size: 16px
  li
    margin: 0 0 4px
    &:last-child
      margin: 0
    a
      color: #4B5257
      &:hover
        color: $accent

.sidebar-item.active
  background: #EBEEF2
  .sidebar-item__links
    color: #0B0C0D

.sidebar-item__links
  color: #4B5257
  font-weight: bold
  font-feature-settings: 'ordn' on
  &:hover
    color: $accent

.report
  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap
  margin: 8px 0 0
  color: #6C757D
  font-size: 12.8px
  font-family: $font
  .btn
    padding: 6px 8px
    font-size: 14px
    margin: 0 0 0 8px

.post-box
  margin: 16px 0 0
  font-family: $font
  .btn
    margin: 16px 0 0
    padding: 6px 8px
    font-size: 14px
  &__name
    color: #4B5257
    margin: 8px 0 0
    &:hover
      color: #000

.img-wrapper
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  border-radius: 8px
  overflow: hidden


.about-project
  margin: 32px 0 63px
  h2
    text-align: left
    margin: 0 0 16px
    align-items: flex-start
    justify-content: flex-start
    font-size: 32px
    color: #2A2E30
    &:before
      display: none
  .box-text
    color: #6C757D
    font-size: 20px
    line-height: 30px
    font-family: $font

.title-product
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 56px
  .img-logo
    max-width: 102px
    width: 100%
    min-width: auto

.img-brand
  margin: 0 0 0 13px
  max-width: 315px
  width: 100%

.product-description-box__body
  height: 100%
  line-height: 24px
  font-family: $font
  color: #6C757D
  font-size: 16px
  display: flex
  align-items: center
  flex-wrap: wrap
  position: relative
  z-index: 1
  p
    margin: 0 0 24px
    &:last-child
      margin: 0

.product-description-box__img
  display: flex
  align-items: center
  justify-content: center
  position: relative

.product-description-box
  margin-bottom: 32px
  h4
    font-size: 20px
    font-weight: 600
    margin: 0 0 24px
    color: #2A2E30
  h3
    font-size: 24px
    font-weight: 600
    margin: 0 0 24px
    color: #2A2E30

.quote
  font-size: 20px
  line-height: 30px
  font-family: $font
  padding: 24px 0
  border:
    top: 1px solid #EBEEF2
    bottom: 1px solid #EBEEF2
  margin: 48px auto
  color: #6C757D
  text-align: center
  max-width: 635px
  width: 100%

.img-absolute
  min-width: 774px
  position: absolute
  right: 0
  top: 0
  display: none

.img-pc
  display: block

.product-description-box-max
  .mb-154
    margin-bottom: 154px

.btn-sidebar-menu
  display: none
  align-items: center
  justify-content: space-between
  width: 100%
  border-radius: 4px
  padding: 8px 12px
  background: #F7F8FA
  color: #6C757D
  font-family: $font
  line-height: 24px
  &__icon
    width: 12px
    height: 12px
    display: flex
    align-items: center
    justify-content: center
    stroke: #6C757D
    fill: none


.total-questionnaire
  margin: 12px 0 32px
  color: #6C757D
  font-family: $font
  font-size: 12.8px

.result-test-box
  height: 100%
  border: 1px solid #EBEEF2
    radius: 8px
  padding: 16px
  color: #0B0C0D
  font-weight: 600
  line-height: 24px
  &__top
    width: 100%
    display: flex
    align-items: flex-end
    justify-content: space-between
    margin: 0 0 4px
  &__percent
    font-size: 40px
    font-weight: 500
    color: $accent
    line-height: 47px
    letter-spacing: -2px

.result-test
  margin: 32px 0

.project-page-result
  .product-description-box__body
    p
      margin: 0 0 16px
      &:last-child
        margin: 0
  .product-description-box h3
    margin: 0 0 32px
  .quote
    margin: auto


.participation-rules
  margin: 32px 0 0
  color: #6C757D
  .box-text
    font-size: 16px
    line-height: 24px
    color: #6C757D

  h3
    margin: 0 0 24px
    color: #2A2E30
    font-weight: 600
    font-size: 28px



.list-number
  counter-reset: item
  margin: 32px 0 0
  font-size: 16px
  line-height: 24px
  width: 100%
  .box-text
    font-family: $font
    font-size: 16px
    line-height: 24px
    color: #6C757D
  > li
    width: 100%
    display: inline-block
    position: relative
    margin: 0 0 32px
    &:last-child
      margin: 0
    h4
      font-size: 24px
      font-weight: 600
      margin: 0 0 16px
      color: #2A2E30
      position: relative
      display: flex
      align-items: flex-start
      &:before
        content: counters(item, ".") ". "
        display: inline-block
        counter-increment: item
        margin: 0 15px 0 0
    h5
      font-size: 20px
      font-weight: 600
      color: #2A2E30
      position: relative
      display: flex
      align-items: flex-start
      margin: 0 0 8px
      &:before
        content: counters(item, ".") ". "
        display: inline-block
        counter-increment: item
        margin: 0 15px 0 0
    h6
      margin: 0 0 8px
      position: relative
      display: flex
      align-items: flex-start
      font-weight: 700
      color: #2A2E30
      &:before
        content: counters(item, ".") ". "
        display: inline-block
        counter-increment: item
        margin: 0 15px 0 0
    ul
      margin: 24px 0 0
      counter-reset: item
      padding: 0 0 0 35px
      li
        margin: 0 0 24px
        width: 100%
        display: inline-block
        position: relative
        &:last-child
          margin: 0

.list-alphabet
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  text-transform: uppercase
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on
  font-family: $font
  font-size: 12.8px

  li
    a
      color: #6C757D
      position: relative
      &:before
        content: ''
        position: absolute
        left: 50%
        transform: translate(-50%,0)
        width: 4px
        height: 4px
        border-radius: 50%
        bottom: -4px
    .active
      color: #0B0C0D
      &:before
        background: #ED6D43

.list-of-participants
  margin: 32px 0

.section-letters
  margin: 32px 0 0

.section-letters__title
  width: 100%
  position: relative
  color: #CFD2D5
  font-size: 56px
  margin: 0 0 24px
  &:before
    content: ''
    position: absolute
    right: 0
    top: 50%
    transform: translate(0,-50%)
    width: calc(100% - 72px)
    height: 1px
    background: #EBEEF2

.section-letters__box
  display: flex
  align-items: center
  margin: 0 0 24px

.section-letters__box-photo
  width: 64px
  height: 64px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover

.section-letters__box-photo-default
  background: #FCE1D0
  border: 3px solid #FAC7AC
  align-items: flex-end
  img
    height: auto
    object-fit: contain
    width: auto

.section-letters__box-content
  width: calc(100% - 64px)
  padding: 0 0 0 12px
  h4
    font-feature-settings: 'ordn' on
    font-weight: bold
    color: #4B5257

.position-user
  font-size: 12.8px
  font-family: $font
  color: #6C757D
  font-weight: 600

.card
  border: none
    radius: 0
  padding: 24px 0
  border-bottom: 1px solid #EBEEF2
  &:last-child
    border: none

.accordion>.card:not(:last-of-type)
  border-bottom: 1px solid #EBEEF2

.card-header
  padding: 0
  background: transparent
  border: none
  .btn
    color: #2A2E30
    font-size: 24px
    font-weight: 600
    padding: 0 0 0 45px
    line-height: 29px
    width: 100%
    text-align: left
    justify-content: flex-start
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      top: 14px
      width: 24px
      height: 2px
      background: #ED6D43

    &:hover, &:focus
      text-decoration: none
  .collapsed
    &:after
      content: ''
      position: absolute
      width: 2px
      height: 24px
      left: 11px
      top: 3px
      background: #ED6D43

.card-body
  padding: 8px 0 0 45px
  color: #6C757D
  font-family: $font
  font-weight: normal
  font-size: 16px
